/* Poppins Font from google */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

/* Portfolio Styling */

/* .portfolio{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.portfolio main {
    flex-grow: 1;
} */

/* Navbar styling */
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 70px !important;
    justify-content: center;
    gap: 2rem;
    height: auto;
    background-color: #1d1e1a;
}

.navbar li {
    list-style-type: none;
}

.navbar a {
    color: white;
    padding: 1rem;
    text-decoration: none;
}

.navbar li i{
 margin-right: 0.4rem;
}

.navbar a:focus {
    color: #ff5757;
}

/* Home Page Styling */
.home-container {
    height: 100%;
    display: flex;
    background-color: hsl(77, 64%, 2%);
    color: white;
    overflow: hidden;
}

.home-container .left-side {
    width: 65%;
    align-content: center;
}

.home-container .right-side {
    width: 35%;
    align-self: flex-end;
}

img{
    vertical-align: middle;
}

.hey,
.intro,
.name {
    padding: 0.4rem 1rem;
    font-size: 2.4rem;
}

.name {
    color: #ff5757;
}

.home .right-side img {
    height: 510px;
}

/* About Container */

.about-container{
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}
.about-container .left-side{
    width: 55%;
    padding: 1rem 2rem;
}

.about-container .left-side h2{
  font-size: 5rem;
  color: #ff5757d8;
  padding: 0.3rem;
}
.about-container .left-side .about-intro{
    font-size: 2rem;
    padding: 1rem;
}

.about-container .left-side .about-details{
    font-size: 1.3rem;
    padding: 1rem;
}

.about-container .right-side{
    width: 45%;
}

.about-container .right-side img{
   height: 480px;
   /* border: 2px solid #ff5757; */
   border-radius:50% 20% / 10% 40%;
   margin: 1rem;
}

.project-container{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.project-container .projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0.5rem 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}


.projects .project-card{
    height: 520px;
    max-width: 400px;
    border-radius: 1rem;
    margin: 1rem;
    background-color: #1d1e1a;
    color: white;
}

.projects .project-card img{
    width: 100%;
    height: 290px;
    object-fit: cover center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.project-title , .project-detail , .link{
    padding: 0.3rem 0.5rem;
}

.project-title{
    color: #ff5757;
}

.project-detail{
    padding: 0.5rem 0.7rem;
    border-left: 2px solid #ff5757;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: rgba(240, 248, 255, 0.726);
}

.project-title ~ div{
    padding: 1rem;
}

.link{
    font-size: 1.2rem;
    padding: 0rem 0rem 0.3rem 1rem;
    color: rgb(52, 52, 170);
    text-decoration: none;
    opacity: 0.7;
}

.link:hover{
    opacity: 1;
}

.link:active{
    color: #ff5757;
    text-decoration: underline;
}

/* Section Styling  for Javascript*/
.section {
    display: none;
}

.section.active {
    display: block;
}


/* Footer Styling */

#footer {
    background-color: #1d1e1a;
    color: white;
    position: absolute;
    width: 100%;
    height: 60px;
}

.footer p {
    text-align: center;
    padding: 1rem 0.5rem;
}

/* Media Queries */
@media only screen and (max-width:320px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        width: 100%;
        height: auto;
        background-color: #1d1e1a;
    }
    
    .navbar li {
        list-style-type: none;
    }
    
    .navbar a {
        color: white;
        padding: 0.3rem;
        text-decoration: none;
    }
    
    .navbar a:focus {
        color: #ff5757;
    }

    .home-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: hsl(77, 64%, 2%);
        color: white;
    }

    .home-container .left-side {
        width: 100%;
    }

    .home-container .right-side {
        width: 100%;
    }
}

@media only screen and (min-width:321px) and (max-width:768px){
    .navbar{
        height: auto;
        flex-wrap: wrap;
    }

    .navbar li a{
        margin: 0.5rem 0.3rem;
    }
    .home-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: hsl(77, 64%, 2%);
        color: white;
    }

    .home-container .left-side {
        width: 100%;
    }

    .home-container .right-side {
        width: 100%;
    }
}
